body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
}

/* header styles */

header {
    background-color: #E554731A;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 0px 240px;
    gap: 100px;
}

.header-tex {
    padding-top: 120px;
}

.header-title {
    color: #272727;
    font-family: Lato;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0px;

}

.header-description {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 32px 0px;
    max-width: 550px;

    /* 166.667% */
}

.btn {
    border-radius: 8px;
    background: #E55473;
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: 0px;

}

section {
    padding: 50px 240px;

}

.section-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    /* max-width: 594px; */
    padding: 0px 400px;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */


}

.image-container {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.image-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    position: relative;

}

.image-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    position: relative;
}

.image-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
    flex-shrink: 0;
    position: relative;
}

.image-allignment {


    position: absolute;
    bottom: 0;
    left: 75px;

}

.image-allignment2 {


    position: absolute;
    bottom: 51px;
    left: 47px;

}

ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

nav {
    padding-top: 10px;
}

/* delivery-support section */

.delivery-support {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin: 0px 240px;
}

.delivery-support-items {
    text-align: center;
}

.delivery-support-items-container {
    display: flex;
    justify-content: space-between;
}

.hot-deal {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-top: 100px;
}

.hot-deal-container {
    display: flex;
    justify-content: space-between;
    padding: 100px 195px;
    padding-left: 150px;
    gap: 150px;
}


.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}

.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */

}

.hot-deal-text {
    text-align: center;
    padding-top: 100px;
}

.instagram-image-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.subscribe {
    background: url('../Flower\ Asset/Rectangle\ 9.png');
    margin: 100px 240px;
    text-align: center;
}

.email {
    width: 700px;
    height: 55px;
    border-radius: 8px;
    background: #FFF;
    border: 0px;
    padding-left: 20px;
}

.email-form {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 80px;
}

.btn2 {
    width: 150px;
    height: 60px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    border: 0px;
    margin-left: 10px;

}

.latest-deal-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

footer {
    background: #111010;
    text-align: center;
}

.footer-title {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

.footer-container {
    padding: 128px 648px;
}

.footer-copyright {
    color: rgba(255, 255, 255, 0.40);
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.flower {
    color: #E55473;

    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.off {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}